; Copyright (c) 2017 Intel Corporation
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;      http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

; static arp entries are per port; syntax:
; ipv4 [ipv4] = ethernet mac address

[sgi]
;14.3.1.93 14.3.1.93 = 00:00:00:00:fc:00
{{ as_sgi_ip }} {{ as_sgi_ip }} = {{ as_sgi_mac }}

[s1u]
;101.3.1.101 101.3.1.180 = 68:05:CA:30:E5:B8
{{ enb_s1u_ip }} {{ enb_s1u_ip }} = {{ enb_s1u_mac }}